In [22]:
# begning with importing the necssary libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

#importing all the neccessary libraries

In [23]:
ames_url = 'https://raw.githubusercontent.com/wblakecannon/ames/master/data/housing.csv'

ames = pd.read_csv(ames_url)
# here we have imported the required dataset

> the significance of writing ames_ df is that so that we know that it is dataframe

In [24]:
ames.head(5)

,Unnamed: 0,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

Examine shape and its columns. Identify target column. Plot histogram and mean, immediately below place boxplot with mean Q1Q2Q3 and extreme values (lower & higher) 

From the columns select a few important feature

In [25]:
ames.shape

(2930, 83)

# The target values of this dataset is sale price

In [26]:
# plt.figure(figsize=(12,6))

# plt.subplot(2, 1, 1)
# plt.title("Sugar Levels Before")
# plt.axvline(x=sugar_before.mean(), color = 'green', linestyle = '--', linewidth = 0.5, animated = True)
# plt.axvline(x=sug_b4_Q1, color = 'green', linestyle = '--', linewidth = 1.5, animated = True)
# plt.text(s=f"Q1 : {sug_b4_Q1:,.2f}", x = 0.994*sug_b4_Q1, y = 5)
# plt.text(s=f"Q2 : {sug_b4_Q2:,.2f}", x = 0.994*sug_b4_Q2, y = 5)
# plt.text(s=f"Q3 : {sug_b4_Q3:,.2f}", x = 0.994*sug_b4_Q3, y = 5)
# plt.axvline(x=sug_b4_Q2, color = 'red', linestyle = '--', linewidth = 1.5, animated = True)
# plt.axvline(x=sug_b4_Q3, color = 'green', linestyle = '--', linewidth = 1.5, animated = True)

# plt.hist(sugar_before, bins= size)
# # plt.xlim(180,360)


# plt.subplot(2,1,2)
# plt.axvline(x=sugar_before.mean(), color = 'green', linestyle = '--', linewidth = 0.5, animated = True)
# plt.axvline(x=sug_b4_Q1, color = 'red', linestyle = '--', linewidth = 1.5, animated = True)
# # plt.text(s=f"Q1 : {sug_b4_Q1:,.2f}", x = 0.994*sug_b4_Q1, y = 20)
# # plt.text(s=f"Q2 : {sug_b4_Q2:,.2f}", x = 0.994*sug_b4_Q2, y = 20)
# # plt.text(s=f"Q3 : {sug_b4_Q3:,.2f}", x = 0.994*sug_b4_Q3, y = 20)
# plt.axvline(x=sug_b4_Q2, color = 'green', linestyle = '--', linewidth = 1.5, animated = True)
# plt.axvline(x=sug_b4_Q3, color = 'blue', linestyle = '--', linewidth = 1.5, animated = True)
# plt.boxplot(sugar_before,orientation='horizontal',showmeans=True, meanline = False)
# # plt.xlim(180,360)


# plt.yticks(fontsize=8)
# plt.xticks(fontsize=8)
# plt.show()

In [ ]:
ames.random.seed(1000)

sale_Price_histogram = ames.random.unifrom(;)

AttributeError: 'DataFrame' object has no attribute 'random'