# This is the notebook contaning the structured arrays in which wwe are going to work with numpys and structured arrays

In [3]:
import numpy as np
import pandas as pd

In [ ]:
# first we are going to start with the panda series in one dimensional array.

data = pd.Series([0.25 , 0.5 , 0.75 , 1.0])
data

# we see it prints the data in the form of float

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [5]:
# now we are going to form it in the form the data in the from of the array
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [23]:
# putting the index in the give data
data = pd.Series([0.25 , 0.5 , 0.75 , 1.0] , index = ['a' , 'b' , 'c' ,'d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [24]:
data['b']
# from here we will see the assigned value of each of the given dataframe

0.5

In [27]:
# we can also assign the numbers given to the array
data2 = pd.Series([0.2 , 0.55 , 0.7 , 1.0] , index = ['1' , '2' , '3' ,'4'])
data2

1    0.20
2    0.55
3    0.70
4    1.00
dtype: float64

In [31]:
data2[0]

/var/folders/dr/5832qf191n3cpbfdp95yqc700000gn/T/ipykernel_51377/3942371460.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  data2[0]

0.2

# Now we are working upon the

In [34]:
population_dict = {'cal': 3242243 , 'texas': 464363 ,'Florida': 4656565 , 'New York' :9897878, 'pen': 5656565}
population_dict = pd.Series(population_dict)
population_dict

cal         3242243
texas        464363
Florida     4656565
New York    9897878
pen         5656565
dtype: int64